{% extends "layout.html" %}
{% block jumbotron %}

<!-- jumbotron -->
<!-- <div class="p-5 text-center bg-image" style="
background-image: url('{{ url_for("static", filename="img/background.jpg") }}');
height: 400px;
"> -->
<div class="p-5 text-center bg-image" style="
background-image: url('https://images.unsplash.com/photo-1517976547714-720226b864c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
height: 400px;
">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                  <a class="btn btn-outline-light btn-lg" href="#" role="button">Counting Stars</a>
              </div>
          </div>
      </div>
  </div>
  <!-- jumbotron -->

{% endblock %}
{% block content %}
    
{% endblock %}