{% extends "layout.html" %}

{% block content %}
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
    
  </style>
</head>
<body>
  <br>
  <h1 class="text-center">대한민국 관측소</h1>
  <div id="map"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmwbXMWHYLYjrKvagHtd0LXiMeDQWvMLw&callback=initMap"></script>
  <br>
  <h1 class="text-center">해외 관측소</h1>
  <div class="card-group m-5">
    <div class="card">
      <img src="static/img/alma.jpg" class="card-img-top" alt="alma"/>
      <div class="card-body">
        <h5 class="card-title">(칠레) ALMA 관측소</h5>
        <p class="card-text">
          높은 산 위에 위치해 있어서 지구의 대기가 방해를 적게 해서 선명한 사진을 촬영가능. 우주의 가스와 먼지를 관찰해서 별이나 행성이 어떻게 태어나는지 연구하는 관측소
        </p>
      </div>
    </div>
    <div class="card">
      <img src="static/img/Mauna-Kea-Observatories-6.jpg" class="card-img-top" alt="mauna"/>
      <div class="card-body">
        <h5 class="card-title">(하와이) 마우나케아 천문대</h5>
        <p class="card-text">세계 최고 봉우리 중 하나인 마우나케아 산 정상에 있으면 고도가 높아 대기가 얇고 탁 트인 환경 덕분에 별들을 선명히 관측가능한 관측소</p>
      </div>
    </div>
    <div class="card">
      <img src="static/img/로크 데 로스 무차코스.jpg" class="card-img-top" alt="lo"/>
      <div class="card-body">
        <h5 class="card-title">(스페인) 로크 데 로스 무차코스 천문대</h5>
        <p class="card-text"> 섬 La Palma에 위치하여 독특한 환경에서 천체 관측을 할 수 있는 관측소
        </p>
      </div>
    </div>
  </div>
</body>



{% endblock %}
