{% extends "layout.html" %}

{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column justify-content-center m-3 profileBox">
        <div>
            <img src="https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" class="myProfile" alt="">
        </div>
        <div class="m-3">
            <div class="profile_text">
                <i class="fas fa-user-astronaut"></i>
                {{ name_data }}님
            </div>
            <div class="profile_text">
                <i class="fas fa-puzzle-piece"></i>
                {{ animal }}띠
            </div>
            <div class="profile_text">
                <i class="fas fa-cake-candles"></i>
                {{ birth_data }}년생
            </div>
            <div class="profile_text">
                <i class="fas fa-meteor"></i>
                {{ star }}
            </div>
        </div>
    </div>
    <div class="d-flex mb-3 flex-column m-3">
        <div>
            <label for="" class="lucky_text">
                <i class="fas fa-circle-check"></i>
                {{ name_data }}님의 오늘의 운세는 어떨까요?
            </label>
            <div class="container-lg text-white p-1 m-2 rounded shadow-2-primary" style="background-color: #DEE2E6">
                <p class="p_content">사소한 문제가 일어날 수 있지만, 그 일에 대해서 당황할 필요는 없다. 당신의 주머니가 지금 텅 비어 있어도 겁먹을 필요 없다. 구하면 길이 생겨날 것이다. 자신감을 가져라.</p>
            </div>
        </div>
        <div>
            <label for="" class="lucky_text">
                <i class="fas fa-circle-check"></i>
                {{ star }}를 바탕으로한 사주는 어떨까요?
            </label>
            <div class="container-lg text-white p-1 m-2 rounded shadow-2-secondary" style="background-color: #DEE2E6">
                <p class="p_content">{{ star_content }}</p>
            </div>

        </div>
        <div>
            <label for="" class="lucky_text">
                <i class="fas fa-circle-check"></i>
                {{ animal }}띠의 오늘의 운세는 어떨까요?
            </label>
            <div class="container-lg text-white p-1 m-2 rounded shadow-2-soft" style="background-color: #DEE2E6">
                <p class="p_content">{{ animal_content }}</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}