{% extends "layout.html" %}

{% block content %}



  <div id="preview" class="preview"></div>
  <div><div data-draggable="true" class="" style="position: relative;" draggable="false"><!----><!---->
    <section draggable="false" class="container pt-5" data-v-271253ee=""><section class="mb-10"> 
      <h2 class="fw-bold mb-5 text-center">일정</h2> 
      <div class="row gx-lg-5 align-items-center"> <div class="col-lg-5 mb-5 mb-lg-0">
         <div class="bg-image rounded-5 shadow-5-strong" style="background-image: url({{url_for('static', filename='img/casey-horner-RmoWqDCqN2E-unsplash.jpg')}}); height: 800px; background-size: cover; background-position: 50% 50%; background-color: transparent;" aria-controls="#picker-editor"> 
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)"> <div class="d-flex justify-content-center align-items-center h-100"> 
            <div class="px-4 py-5 px-md-5 text-white text-center"> <h3 class="text-uppercase fw-bold mb-4"> <span>2023년에 일어나는 우주쇼 </span>
               <u style="color: hsl(210, 12%, 80%)"></u> </h3> <p class="mb-0" style="color: hsl(210, 12%, 80%)">계절에 따른 천문 관측 &nbsp;</p> 
              </div> </div> </div> </div> </div> <div class="col-lg-7 mb-4 mb-lg-0"> 
                <div class="d-flex align-items-start mb-5">
                  <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(204, 30%, 20%)">
                      <i class="fab fa-envira fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-4">
                    <h3 class="fw-bold mb-1">봄</h3>
                    <p class="text-muted mb-0">
                      <ul>
                        <li><a href="/projectdetail/{{data[0]._id}}">목성과 금성 근접 현상</a></li>
                        <li><a href="/projectdetail/{{data[1]._id}}">거문고 자리 유성우 극대기</a></li>
                        <li><a href="/projectdetail/{{data[2]._id}}">물병자리 에타 유성우 극대기</a></li>
                      </ul>
                    </p>
                  </div>
                </div>
                <div class="d-flex align-items-start mb-5">
                  <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(204, 30%, 20%)">
                      <i class="fas fa-sun fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-4">
                    <h3 class="fw-bold mb-1">여름</h3>
                    <p class="text-muted mb-0">
                      <ul>
                        <li><a href="/projectdetail/{{data[3]._id}}">페르세우스자리 유성우 극대기</a></li>
                        <li><a href="/projectdetail/{{data[4]._id}}">토성 관측</a></li>
                        <li><a href="/projectdetail/{{data[5]._id}}">연중 가장 큰 보름달</a></li>
                      </ul>
                    </p>
                  </div>
                </div>
                <div class="d-flex align-items-start mb-5">
                  <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(204, 30%, 20%)">
                      <i class="fas fa-cannabis fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-4">
                    <h3 class="fw-bold mb-1">가을</h3>
                    <p class="text-muted mb-0">
                      <ul>
                        <li><a href="/projectdetail/{{data[6]._id}}">금환일식</a></li>
                        <li><a href="/projectdetail/{{data[7]._id}}">오리자리 유성우 극대기</a></li>
                        <li><a href="/projectdetail/{{data[8]._id}}">부분 월식</a></li>
                      </ul>
                    </p>
                  </div>
                </div>
                
                <div class="d-flex align-items-start mb-5">
                  <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(204, 30%, 20%)">
                      <i class="fas fa-snowflake fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-4">
                    <h3 class="fw-bold mb-1">겨울</h3>
                    <p class="text-muted mb-0">
                      <ul>
                        <li><a href="/projectdetail/{{data[9]._id}}">목성 관측</a></li>
                        <li><a href="/projectdetail/{{data[10]._id}}">쌍둥이자리 유성우 극대기</a></li>
                    
                      </ul>
                    </p>
                  </div>
                </div>
               </div> </section></section><!----></div><div data-draggable="true" class="" style="position: relative;"><!----><!----><section draggable="false" class="container pt-5" data-v-271253ee=""><section class="mb-10 text-center"> <div class="d-flex justify-content-center"> <div class="text-center" style="max-width: 700px"> <h2 class="fw-bold mb-4 text-center"> 

    
{% endblock %}