
{% extends "admin/layout.html" %}
{% block content %}
<!--Section: add new project-->
<section class="mb-4">
    <div class="card">
        <div class="card-header py-3">
            <h5 class="mb-0 text-center">
                <strong>New Project Form</strong>
            </h5>
        </div>
        <div class="card-body text-center">
            <!-- form -->
            <form action="" method="POST" enctype="multipart/form-data">
                <!-- title input -->
                <div class="form-outline mb-4">
                    <input type="text" id="title" name="title" value="" class="form-control" required/>
                    <label class="form-label" for="title">Project Title</label>
                </div>

                <!-- funder input -->
                <div class="form-outline mb-4">
                    <input type="text" id="funder" name="funder" class="form-control" required/>
                    <label class="form-label" for="funder">Project funder</label>
                </div>

                <!-- duration input -->
                <div class="form-outline mb-4">
                    <input type="text" id="duration" name="duration" class="form-control" />
                    <label class="form-label" for="duration">Project duration (Example: 2022-2026)</label>
                </div>

                <!-- content -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="content" name="content"rows="10"></textarea>
                    <label class="form-label" for="content">Project content</label>
                </div>

                <!-- image -->
                <div class="mb-4">
                    <label class="form-label" for="image">Project image</label>
                    <input type="file" class="form-control" id="image" name="image" />
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    SAVE
                </button>
            </form>
        </div>
    </div>
</section>
<!--Section: add new project-->
{% endblock %}