
{% extends "admin/layout.html" %}
{% block content %}
<!--Section: Manage Posts-->
<section class="mb-4">
    <div class="card">
        <!-- include the flashmessage.html and 
            show if there is any messages send using flash() from the backend -->
            {% include "flashmessage.html" %}
        <div class="card-header py-3">
            <h5 class="mb-0 text-center">
                <strong>Manage Blog Posts</strong>
            </h5>
            <p>
                <a href="{{ url_for('admin_new_post') }}" class="btn btn-success">Add new blog post</a>
            </p>
        </div>
        <div class="card-body text-center">
            <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Published date</th>
                            <th scope="col" colspan="3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in data %}
                        <tr>
                            <th scope="row">{{ post.title }}</th>
                            <td>{{ post.created_date }}</td>
                            <td><a href="{{ url_for('posts_detail', id=post._id) }}" target="_blank" class="btn btn-info">Read</a></td>
                            <td><a href="{{ url_for('admin_update_post', id=post._id) }}" class="btn btn-primary">Update</a></td>
                            <td><form action="{{ url_for('admin_delete_post', id=post._id)}}" method="POST"><input class="btn btn-danger" type="submit" value="Delete"></form></td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--Section: Manage Posts-->
{% endblock %}