{% extends "admin/layout.html" %}
{% block content %}
<!--Section: Manage Projects -->
<section class="mb-4">
    <div class="card">
        <!-- include the flashmessage.html and 
            show if there is any messages send using flash() from the backend -->
        {% include "flashmessage.html" %}
        <div class="card-header py-3">
            <h5 class="mb-0 text-center">
                <strong>Manage Projects</strong>
            </h5>
            <p>
                <a href="{{ url_for('admin_new_project') }}" class="btn btn-success">Add new project</a>
            </p>
        </div>
        <div class="card-body text-center">
            <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Funder</th>
                            <th scope="col" colspan="3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Project 1</th>
                            <td>2022-2026</td>
                            <td>NRF Korea</td>
                            <td><a href="{{ url_for('projects_detail', id='123') }}" target="_blank" class="btn btn-info">Read</a></td>
                            <td><a href="{{ url_for('admin_update_project', id='123') }}" class="btn btn-primary">Update</a></td>
                            <td><form action="{{ url_for('admin_delete_project', id='123')}}" method="POST"><input class="btn btn-danger" type="submit" value="Delete"></form></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--Section: Manage Projects-->
{% endblock %}