{% extends "admin/layout.html" %}
{% block content %}
<!--Section: read contact data-->
<section class="mb-4">
    <div class="card">
        <div class="card-header py-3">
            <h5 class="mb-0 text-center">
                <strong>Read Contact Data</strong>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <!--Table-->
                <table class="table table-striped">
                    <tr>
                        <td>Name</td>
                        <td>: {{ data.name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>: {{ data.email }}</td>
                    </tr>
                    <tr>
                        <td>Subject</td>
                        <td>: {{ data.subject }}</td>
                    </tr>
                    <tr>
                        <td>Content</td>
                        <td>: {{ data.content }} </td>
                    </tr>
                    <tr>
                        <td>Submitted date</td>
                        <td>: {{ data.created_date }}</td>
                    </tr>
                </table>
                <!--Table-->
            </div>
        </div>
    </div>
</section>
<!--Section: read contact data-->
{% endblock %}