
{% extends "admin/layout.html" %}
{% block content %}
<!--Section: Manage Settings-->
<section class="mb-4">
    <div class="card">
        <!-- include the flashmessage.html and 
            show if there is any messages send using flash() from the backend -->
            {% include "flashmessage.html" %}
        <div class="card-header py-3">
            <h5 class="mb-0 text-center">
                <strong>Manage Settings</strong>
            </h5>
        </div>
        <div class="card-body text-center">
            <!-- form -->
            <form action="{{ url_for('admin_settings') }}" method="POST" enctype="multipart/form-data">
                <!-- website_name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="website_name" name="website_name" value="{{ data.website_name }}"
                        class="form-control" />
                    <label class="form-label" for="website_name">Website name</label>
                </div>

                <!-- website tagline input -->
                <div class="form-outline mb-4">
                    <input type="text" id="tagline" name="tagline"
                        value="{{data.tagline}}" class="form-control" />
                    <label class="form-label" for="form3Example3">Website tagline</label>
                </div>

                <!-- about me -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="about" name="about"
                        rows="10">{{data.about}}</textarea>
                    <label class="form-label" for="about">About website</label>
                </div>

                <!-- Upload/change image -->
                <div class="mb-4">
                    <label class="form-label fw-bold" for="profile_img">Change profile image? Upload it here:</label>
                    <input type="file" class="form-control" id="profile_img" name="profile_img" />
                </div>

                <!-- Current profile image -->
                <div class="mb-4">
                    <label class="form-label fw-bold" for="current_profile_img">Current profile image</label>
                    <img src="{{ url_for('display_image', filename=data.profile_img) }}" id="current_profile_img" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
                </div>

                <!-- Submit button -->
                <input type="hidden" name="_id" value="{{data._id}}" />
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    UPDATE Settings
                </button>
            </form>
        </div>
    </div>
</section>
<!--Section: Manage Settings-->
{% endblock %}